<div class="row">
    <div class="col-md-6"><app-display-text [text]="text"></app-display-text></div>
    <div class="col-md-6"><app-display-text class="top-right" [text]="text"></app-display-text></div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-md-8"><input [(ngModel)] ='text' type="text" class="form-control text-center"></div>
  </div>
  <div class="row">
    <div class="col-md-6"><app-display-text [text]="text"></app-display-text></div>
    <div class="col-md-6"><app-display-text [text]="text" class="top-right"></app-display-text></div>
  </div>