
  <div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h3>Find next Number</h3>
            <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                <div class="form-group">
                    <label for="number">Enter the number</label>
                    <input type="number" class="form-control" name="number" [(ngModel)]="model.number" #number="ngModel" [ngClass]="{ 'is-invalid': f.submitted && number.invalid }" required />
                    <div *ngIf="f.submitted && number.invalid" class="invalid-feedback">
                        <div *ngIf="number.errors.required">First Name is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary mt-2">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row col-md-8 offset-md-2">
      <h3 class="text-center" *ngIf="seriesNumber">{{ seriesNumber }}</h3>
    </div>
</div>